<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>

<body>
    <%- include('nav.ejs') %>
    <h1 class="hello-h1">๐ฅ์ด์์ค์ธ์๐ฅ</h1>
    
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="POST" id="login-form" action="/login">
            <input name="username"  placeholder="username">
            <input name="password" type="password" placeholder="password">
            <button type="submit">์์ก</button>
        </form>
    </div>

</body>

</html>