<div class="nav">
    <a class="logo" href="/">CoOoOw0</a>
    <a class="location_right">게시판</a>
    <a class="location_right">로그인</a>
    <a href="https://naver.com" class="location_right">채팅하기</a>
</div>
